.modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22.4px;
}

.modal.inside {
    position: absolute;
    width: 100%;
    height: 100%;
}