.toast-container {
    position: fixed;
    z-index: 100;
    right: 20px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.5s ease-in-out;
}

.toast-item {
    padding: 18px;
    display: flex;
    background-color: #fff;
    min-width: 450px;
    max-width: 650px;
    align-items: center;
    box-shadow: 0 4px 40px rgba(0,0,0,0.2);
    animation: toast-animation 7s ease-in-out;
    margin-bottom: 12px;
    transition: all 0,5s ease-in-out;

}

.toast-container.hidden {
    display: none;
}

.toast-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}


.toast-item.success .toast-icon {
    background-position: -845px -310px;
}

.toast-item.warning .toast-icon {
    background-position: -1086px -310px;
}

.toast-item.error .toast-icon {
    width: 24px;
    background-position: -538px -146px;
}

.toast-title {
    font-size: 1.4rem;
    margin-right: 4px;
}

.toast-item.success .toast-title {
    color: #50b83c;
}

.toast-item.warning .toast-title {
    color: #FFAD33;
}

.toast-body-text {
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.toast-action {
    font-size: 1.4rem;
    text-decoration: underline;
    font-weight: 700;
    margin-left: auto;
    margin-right: 16px;
    cursor: pointer;
}

.toast-close-icon {
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-position: -80px -312px;
}

@keyframes toast-animation {
    0% {
        opacity: 0;
        right: 0;
        transform: translateX(100%);
    }

    20% {
        opacity: 1;
        right: 20px;
        transform: translateX(0);
    }

    90% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}
