.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    min-width: 312px;
}

.header-section h3 {
    font-size: 2.4rem;
    padding: 16px 0 12px;
}

.header {
    width: 100%;
    margin-left: var(--sidebar-width);
    height: var(--header-height);
    max-height: var(--header-height);
    position: fixed;
    top: 0;
    right: 0;
    background-color: #001833;
    display: flex;
    align-items: center;
    padding: 12px;
    color: #fff;
}

.logo-wrapper {
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    color: #fff;
}

.logo {
    width: 100px;
    margin-right: 12px;
}

.sidebar-header-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat;
}

.submenu-item {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-position: -842px -30px;
    margin-right: 4px;
}

.company-name {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.more-btn {
    width: 24px;
    height: 24px;
    background-position: -1123px -356px;
}

.more-btn.small {
    background-position: -460px -405px;
}

.avatar {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 4px;
    border-radius: 50%;
}

.username {
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.shortened-sidebar-btn {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background-position: -427px -90px;
}

.header__lang_options {
    font-size: 1.4rem;
    height: 32px;
    background-color: transparent;
    color: #fff;
    border-radius: 20px;
    padding: 4px;
    border: none;
    outline: none;
}

option {
    font-size: 1.4rem;
    background-color: #fff;
    color: #000;
}