@import url(./icon.css);

:root {
    --primary-color: #CEEAD9;
    --button-color: #2ca01c;
    /* --outline: #E0E0E0; */
    --outline: #babec5;
    /* --button-outline: #E0E0E0; */
    --button-outline: #babec5;
    --button-click: #055B27;
    --blue-color: #3395FF;
    --sidebar-width: 212px;
    --header-height: 56px;
    --shortened-sidebar-width: 78px;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    line-height: 0;
}

@font-face {
    font-family: NotoBold;
    src: url(../assets/fonts/notosans-bold.3ede5aff.woff2);
}

@font-face {
    font-family: NotoRegular;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

body {
    font-family: NotoRegular, sans-serif;
}

.app {
    position: relative;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); 
    border-radius: 4px;
  }
  

a {
    text-decoration: none;
    color: unset;
}

.blue-color {
    color: var(--blue-color );
}

.hidden {
    display: none;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.left-align {
    margin: unset !important;
    margin-left: auto !important;
}

.mr-auto {
    margin-left: unset !important;
    margin-right: auto;
}

.text-truncate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}